#ykr {
    color: blue;
}
#English {
    color: brown;
}
#fizika {
    color: gold;
}
#zar {
    color: green;
}
#geo {
    color: darkorange;
}
#himia {
    color: cornflowerblue;
}
#ykrstor {
    color: darkblue;
}
#ykrlit {
    color: aqua;
}
#alg {
    color: darkgreen;
}
#inf {
    color: cadetblue;
}
#geom {
    color: crimson;
}
#fiz {
    color: darkgoldenrod;
}
#ykra {
    color: coral;
}
#zaryb {
    color: forestgreen;
}
#bio {
    color: darkorchid;
}
#ing {
    color: darkmagenta;
}
#ocnov {
    color: blueviolet;
}
#vse {
    color: indianred;
}
#mus {
    color: greenyellow;
}
#fizik {
    color: green;
}
#alge {
    color: darkviolet;
}
#story {
    color: mediumblue;
}
#geome {
    color: midnightblue;
}
#angl {
    color: mediumturquoise;
}
#fizkl {
    color: mediumvioletred;
}
#ingl {
    color: dodgerblue;
}
#fi {
    color: darkgoldenrod;
}
#tryd {
    color: lightblue;
}



